body{
    background-color: white;
    color: blueviolet ;
}
*{
    text-align: center;
}
form{
    background-color: purple;
    height: 100%
}
input{
    width: 100%;
    height: 300px ;
    color: white ;
    background-color: black ;
}
button{
    width: 100% ;
}
